p{
    color:red;
}
li{
    list-style-type:georgian;
}
table,tr,td,th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:1px lightgray solid;
    border-collapse: collapse;
    font-size: x-large;
    padding: 4px;
}
th{
    background-color:green;
    color:white;
}
tr:nth-child(even) {
    background:lightgray;
  } 

/* header style */
  .header{
      color:red;
  }
  .footer>p{
      color:green;
  }
  /*footer style*/
  .footer
  {
      color:blue;
  }