/* Global Style */

html {
    background-color: #95bcc5;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 87%;
    /*16px 87% 13.92px 14px*/
}

.container {
    /* 數字後面會介紹 */
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* margin:20px auto; */
    background-color: white;
    padding-left: 40px;
    padding-right: 3em;
    /* em 14px x3 =42px */
}

/* Header style */

.header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: pink;
    /*h1 正常 200% 16px 23px*/
}

.header-title {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

.header-slogan {
    margin: 0;
}

/* Nav Style */

.nav {
    margin-top: 5px;
}
/* 第一組ul  */
.nav-list {
    display: flex;
    margin: 0;
    padding: 0;    
}
/* 第一組ul li */
.nav-list-item {
    list-style-type: none;
    margin-right: 15px;
    border:1px solid red;
}
.nav-list-item:hover{
    background:lightskyblue;
}
/* 第一組ul li a */
.nav-list-item-link {
    text-decoration: none;
    color:lightslategray;
    text-align: center;
    padding: 6px 10px;
    text-transform: uppercase;
    border:1px solid blue;
    margin-right: 10px;
}
/* 第二組ul */
.nav-sublist{
    display: none;
    position:absolute;
    margin: 0;
    padding:0;
    background-color: lightsteelblue;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    list-style-type: none;
    /* border:lightslategray solid 2px;

    padding-left: 0px;
    display: block; */
}
.sub:hover .nav-sublist{
    display: block;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
    border: 3px solid lightgrey;
}
/* 第二組ul li */
.nav-sublist-item{
    list-style-type: none;
    margin-right: 11px 0px 11px 0px;
    
    /* border:lightsalmon solid 2px;  */
}
/* 第二組ul li a */
.nav-sublist-item-link{
    text-decoration: none;
    color:lightslategray;
    text-align: center;
    padding: 12px 16px;
    display: block;
    text-transform: uppercase;
    /* border:1px solid lightgray; */
    /* border:1px solid green; */
    margin-top: 10px;
}

.content-area {
    display: flex;
    margin-top : 9px;
    border-top: 2px solid #e5e9dc;
    border-bottom: 1px solid #e5e5e9dc;
    padding: 7px;
}

/* Main-area Style */

.main-area {
    width: 60%;
    padding-right: 3em;
}

/* Sidebar Style */

.sidebar {
    width: 40%;
    background-color: #eeeee1;
    padding: 20px 40px;
    font-size: 85%;
    /* 13.92px 0.85% 11.83px */
}

/* Footer Style */

.footer {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    border-bottom:2px darkgray solid;
    
}
li{
    float:left;
}
li a{
    display: block;
    padding: 8px;
    background-color: lightgray;
} */